.background {
  background-color: white;
  width: 90%;
  z-index: 1;
  height: 75vh;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  transform: translateY(10vh);
  border-radius: 30px 30px 30px 30px;
}

body {
  background-color: #e1e1e1;
}

.words {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.sentence,
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  width: inherit;
}

.keyboard li {
  flex-grow: 1;
  border-style: solid transparent;
  background-color: #e1e1e1;
  list-style: none;
  padding: 50px;
  margin: 10px;
}

.space {
  background-color: #ffb74d;
}

#text {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: transparent !important;
}
